@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Monomaniac+One:regular);

* {
    box-sizing: border-box;
}

*:focus-visible {
    outline: unset;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .header {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  background-color: gray;
  width: 100%;
  padding: 0 10px 10px 10px;
  z-index: 1000;
}

.apiKey-input {
  height: 1em;
} */

/* .prompt-node {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 5px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
}


.promptNode-response,  .promptNode-prompt{
  border: 1px solid gray;
  border-radius: 5px;

} */

/* .react-flow__handle {
  box-sizing: border-box;
  margin: 0;
}

.react-flow__handle-left {
  left: -3px;
}

.react-flow__handle-right {
  right: -7.5px;
  width: 15px;
  height: 15px;
  color: black;
  background-color: #ffffff;
  border: 0;
}

.react-flow__handle-right:after {
  content: url(./assets/icon-plus-circle.svg);
  color: black;
  position: absolute;
  width: 18px;
  height: 18px;
  scale: 70%;
  top: -3px;
  right: 0px;
}


.react-flow__handle-right:hover {
  background-color: #e4e4e4;
} */

div.customHandle {
    width: 100%;
    height: 100%;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}

.wrapper {
    flex-grow: 1;
    height: 100%;
}

.flowContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.textareaPrompt {
    resize: none;
}

.textareaResponse {
    resize: none;
}

.styled-scrollbars {
    /* slider bar and background */
    scrollbar-color: #fff;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 5px; /* vertical  */
    height: 5px; /* horizontal */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* slider bar */
    background-color: #e0e0e0;
    border-radius: 5px;
}

.styled-scrollbars::-webkit-scrollbar-track {
    /* background */
    background: #fff;
}

/* brand: '#ffc107',
brandAccent: '#ff8f00', */

.custom-auth-button[type="submit"] {
    background-color: #ffc107;
    color: white;
    border-color: #ffc107;
}

.custom-auth-button[type="submit"]:hover {
    background-color: #ff8f00 !important;
    border-color: #ff8f00;
}

.react-flow__controls-button {
    box-sizing: border-box;
    border: none;
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 4px;
}

.ltr {
    margin: 0;
}

.react-flow__pane.draggable {
    cursor: pointer !important
}

.rich-text h1 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.rich-text h2 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

.rich-text h3 {
    font-size: 1.2em;
    margin: 0.4em 0;
}

.rich-text p {
    margin: 0.3em 0;
}

.rich-text ul {
    padding-left: 1.2em;
    margin: 0.3em 0;
}

.rich-text ol {
    padding-left: 1.2em;
    margin: 0.3em 0;
}

.rich-text blockquote {
    margin: 0.3em 0;
    padding-left: 0.8em;
    border-left: 3px solid #ccc;
}